
<%- include('partials/header') -%>
<div id="welcome-block">
    <h1 id="headline-pg">Welcome to <%= Page_Title %> </h1>
    <p id="headline-base-pg"></p>
    <form action="/api/fileupload" method="post">
        <input type="file" accept="*" value="Upload file">
        <input type="submit">
    </form>
</div>