
<ul>
    <li>Site Title is : <%=  Site_Title %>.</li>
    <li>Page Title is : <%=  Page_Title %>.</li>
</ul>
<div id="welcome-block">
    <h1 id="headline-pg">Welcome to <%=  Page_Title %>. </h1>
    <p id="headline-base-pg"></p>
    <ul>
    <li><a href="./example/fileupload"><h3>Go To Upload</h3></a></li>
    <li><a href="./example/socketcom"><h3>Go To SocketCom</h3></a></li>
    </ul>
</div>