
<ul>
    <li>Site Title is : <%=  Site_Title %>.</li>
    <li>Page Title is : <%=  Page_Title %>.</li>
</ul>
<div id="welcome-block">
    <h1 id="headline-pg">Welcome to Model Store</h1>
    <p id="headline-base-pg">Get all your products here on model store.
    Browse our store and select your choice product</p>
    <a href="./example/fileupload"><h3>Go To Upload</h3></a>
</div>