
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= Page_Title %></title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/constant.css">
    <script src="https://aydavidgithere.github.io/res/lidsacaebasic.js">
    </script>
    <script src="http://localhost:1111/Codehelps/codehelp.js"></script>
    <script alt="../../public/mvc/controllers/messenger.js" 
            alt="/mvc/controllers/messenger.js"
            src="<%=SITE_URL%>/static/mvc/controllers/messenger.js"
            id="messenger_script"
    ></script>
    <script>
        document.write(document.getElementById("messenger_script").src)
    </script>
    <noscript>
      <strong>Abeg, try dey use Javascript.</strong>
    </noscript>
</head>


<body >
    <div><%= Page_Title %></div>
    <button id="sendmessage-but">Send Message But</button>
    <p>  </p>
</body>