<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<link rel="stylesheet" href="./res/css/constant.css">
<link rel="stylesheet" href="./res/css/header.css">
<link rel="stylesheet" href="./res/css/homepage.css">
</head>



<body>
<nav id="header-navbar">
    <div id="menu-icon"><img src="./res/icons/menu.png"/></div>
    <div id="sitetitle-icon"><%=  Site_Title  %></div>
    <div id="search-icon"><img src="./res/icons/search.png"/></div>
</nav>
<div id="welcome-block">
    <h1 id="headline-pg"><%= song.data.name %>. </h1>
    <p id="headline-base-pg"><%= Page_Title %> </p>
    
    
</div>
</body>


</html>